 /* web12姜泽华 */
       
        .h-25px {
            height: 25px;
        }

        .bg-color {
            background-color: #f2f0f1;
        }

        a:hover {
            background-color: #d96b66 !important;
            color: #fff !important;
        }

      



        .con {
            background-color: rgba(255, 255, 255, .4);
            height: 14rem;
            margin: 0 auto;
            backdrop-filter: blur(6px);
        }

        .fa-search {
            color: #fff;
        }

        .center {
            margin: 0 auto !important;
        }

        .fa {
            font-size: 1rem;
        }
        .search-position
        {
            position: fixed;
	    top: 0;
	    left: 50%;
	    transform: translateX(-50%);
        top: 26%;

        }
        .food-list-cnotent-left ,.food-list-cnotent-center,.food-list-cnotent-right
        {
            flex: 1;
        }
        .flex-1
        {
            flex:1;
        }
        img
        {
            border-radius: 3px;
        }
        .bg-left
        {
            background-image: linear-gradient(to right, rgba(0, 0, 0,1),  rgba(255, 255,255 , 0));
            /* 设置渐变色背景 */
            /* box-shadow: 0 2px 15px rgba(0, 0, 0, .2); */
        }
        .bg-right
        {
            background-image: linear-gradient(to left,rgba(0, 0, 0,1),  rgba(255, 255,255 , 0));
        }
        